/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: "Gotham-Light"; // 300
  src: local("Gotham-Light"), url(./fonts/GothamLight.ttf) format("opentype");
}

@font-face {
  font-family: "Gotham-Book"; // 400
  src: local("Gotham-Book"), url(./fonts/GothamBold.ttf) format("opentype");
}
@font-face {
  font-family: "Gotham-Medium"; // 500
  src: local("Gotham-Medium"), url(./fonts/GothamMedium.ttf) format("opentype");
}

@font-face {
  font-family: "Gotham-Bold"; // 700
  src: local("Gotham-Bold"), url(./fonts/Gotham-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Gotham-Black"; // 800
  src: local("Gotham-Black"), url(./fonts/Gotham-Black.otf) format("opentype");
}

@font-face {
  font-family: "Glysa";
  src: local("Glysa"), url(./fonts/Glysa.otf) format("opentype");
}

body {
  font-family: "Ghotham-Book";
  color: #1d1d1b;
}

/** MIXINS **/
@mixin default-transition {
  transition: 0.75s all ease;
}

.header {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  z-index: 5000;
  .logo {
    border-right: 2px solid black;
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 125px;
      padding-left: 10px;
    }
  }
  .burger {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    span {
      position: relative;
      display: block;
      width: 27px;
      height: 3px;
      background-color: black;
      margin-bottom: 4px;
      transition: transform 0.6s ease, opacity 0.6s ease;
    }
    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      z-index: 2;
      // &:checked ~ span:nth-last-child(3) {
      //   transform: skewY(45deg) translateY(7px);
      // }
      // &:checked ~ span:nth-last-child(1) {
      //   transform: skewY(-45deg) translateY(-7px);
      // }
      // &:checked ~ span:nth-last-child(2) {
      //   opacity: 0;
      // }
    }
  }
}
.menu-desktop {
  height: 75px;
  display: flex;
  padding: 25px;
  align-items: center;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  padding-left: 8vw;
  padding-right: 8vw;

  .logo-img {
    flex: 0.5;
    img {
      width: 125px;
      padding-left: 10px;
    }
  }
  .link-menu {
    display: flex;
    font-family: "Gotham-Medium";
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    flex: 1;
    .current-link {
      font-family: "Gotham-Bold";
      a {
        display: flex;
        align-items: center;
        img {
          padding-left: 3px;
          width: 30px;
        }
      }
    }
    .menu-last-btn a {
      background: black;
      color: white;
      padding: 10px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 100vw;
  bottom: 0;
  background: white;
  z-index: 10000;
  min-width: 100vw;
  @include default-transition;
  .top-bar {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo-img {
      width: 125px;
      padding-left: 10px;
    }
    .cross-img {
      width: 35px;
      padding-right: 10px;
    }
  }
  .link-menu {
    padding-left: 15px;
    font-size: 35px;
    font-weight: 500;
    font-family: "Gotham-Medium";
    li {
      padding-bottom: 20px;
      &:last-child {
        padding-top: 10px;
      }
      &:not(:last-child) a {
        display: flex;
        align-items: center;
        img {
          padding-left: 10px;
          padding-top: 10px;
        }
      }
    }
    .menu-last-btn a {
      background: black;
      color: white;
      padding: 10px;
    }
  }
  .current-link {
    font-family: "Gotham-Bold";
  }
  .social-link {
    height: calc(50vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    li {
      padding: 10px;
      &:last-child {
        img {
          padding-right: 5px;
        }
        span {
          font-size: 24px;
        }
      }
    }
  }
}
.open-menu {
  left: 0;
}

.container {
  margin-top: 130px;
  .exposure {
    padding: 0 15px 25px 15px;
    border-bottom: 2px solid black;
    .header-exposure {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .main-img-exposure {
      width: 100%;
      padding-top: 25px;
    }
    .description-exposure {
      font-family: "Gotham-Medium";
      padding-top: 25px;
      font-size: 18px;
      display: flex;
      img {
        padding-right: 10px;
      }
    }
    .link-event-nl {
      font-family: "Gotham-Bold";
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      li:last-child img {
        padding-right: 3px;
      }
      span {
        border-bottom: 2px solid black;
      }
    }
  }

  .artist {
    padding: 0 15px 25px 15px;
    border-bottom: 2px solid black;

    .artist-galery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 25px;
      li {
        flex: 1;
        min-width: 150px;
        text-align: center;
        padding: 10px 0;
        p {
          font-family: "Gotham-Medium";
          font-size: 18px;
          text-transform: uppercase;
          padding-top: 10px;
        }
      }
    }
  }

  .tarif {
    padding: 25px 15px 25px 15px;
    .title-tarif {
      font-family: Glysa;
      font-size: 65px;
      padding: 0 15px;
    }
    .information-tarif {
      font-family: "Gotham-Medium";
      font-size: 16px;
      li {
        padding-top: 15px;
        line-height: 25px;
        padding-left: 10px;
        img {
          padding-right: 8px;
        }
        p {
          font-family: "Gotham-Light";
          font-size: 14px;
          padding-left: 25px;
          padding-right: 2px;
        }
      }
    }
    .where-btn {
      padding: 25px 15px;
      text-align: right;
      font-family: "Gotham-Bold";
      font-size: 17px;
      img {
        padding-right: 8px;
      }
      span {
        border-bottom: 2px solid black;
      }
    }
  }
  .exposures {
    padding: 0 15px;
    font-family: "Gotham-Medium";
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    padding-top: 20px;
    color: #1d1d1b;

    > p {
      font-family: Glysa;
      font-weight: 500;
      font-size: 70px;
      color: #1d1d1b;
    }
    .title-exposure {
      font-family: "Gotham-Book";
      text-transform: uppercase;
      font-size: 9vw;
    }
    .description-exposure {
      font-family: "Gotham-Medium";
      padding-top: 25px;
      padding-right: 50px;
      font-size: 18px;
      text-transform: uppercase;
    }
    .img-exposure {
      width: 100%;
      padding-top: 25px;
      position: relative;
      .main-img-exposure {
        width: 100%;
      }
      .pastille {
        position: absolute;
        right: -10px;
        transform: translateY(-60%);
      }
      .btn-more {
        font-family: "Gotham-Bold";
        font-size: 17px;
        position: absolute;
        bottom: 20px;
        right: -10px;
        background: white;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          padding-right: 5px;
          padding-left: 5px;
          transition: 0.25s all ease;
        }
        img:last-child {
          opacity: 0;
        }
        &:hover img:last-child {
          opacity: 1;
        }
      }
    }
  }
  .home-exposure {
    padding: 0 15px;
    font-family: "Gotham-Medium";
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    .description-exposure {
      padding-top: 25px;
      padding-right: 50px;
      font-size: 18px;
      text-transform: uppercase;
    }
    .img-exposure {
      width: 100%;
      padding-top: 25px;
      position: relative;
      .main-img-exposure {
        width: 100%;
      }
      .pastille {
        position: absolute;
        right: -10px;
        transform: translateY(-60%);
      }
      .btn-more {
        font-family: "Gotham-Bold";
        font-size: 17px;
        position: absolute;
        bottom: 20px;
        right: -10px;
        background: white;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          padding-right: 5px;
          padding-left: 5px;
          transition: 0.25s all ease;
        }
        img:last-child {
          opacity: 0;
        }
        &:hover img:last-child {
          opacity: 1;
        }
      }
    }
  }
  .footer-exposure {
    font-family: "Gotham-Medium";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    color: #1d1d1b;
    .date-exposure {
      text-transform: uppercase;
      font-size: 16px;
      span:last-child {
        display: block;
        padding-left: 22px;
      }
    }
    .shop-exposure {
      font-family: "Gotham-Bold";
      img {
        padding-right: 10px;
      }
      span {
        border-bottom: 2px solid black;
      }
    }
  }

  .title-exposure {
    font-family: Glysa;
    font-size: 70px;
    padding-top: 10px;
  }

  .centre {
    .title-head {
      font-family: "Gotham-Book";
      font-size: 20px;
      padding: 25px 0px;
      img {
        padding-right: 5px;
      }
    }
    .text-history {
      font-family: "Gotham-Light";
      font-size: 18px;
      display: flex;
      padding-bottom: 25px;
      img {
        width: 16px;
        height: 15px;
        padding-right: 8px;
      }
    }
    .schema {
      margin-bottom: 25px;
    }

    .partenaires {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }

  }

  .home-presentation {
    padding: 0 15px;
    font-family: "Gotham-Medium";
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
    position: relative;
    .img-exposure {
      width: 100%;
      position: relative;
      .home-name {
        font-family: Glysa;
        font-size: 65px;
        transform: translateY(40%);
      }
      .main-img-exposure {
        width: 100%;
      }
      .btn-more {
        font-family: "Gotham-Bold";
        font-size: 17px;
        position: absolute;
        bottom: 20px;
        right: -10px;
        background: white;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          padding-right: 5px;
          padding-left: 5px;
        }
        cursor: pointer;
        img {
          padding-right: 5px;
          padding-left: 5px;
          transition: 0.25s all ease;
        }
        img:last-child {
          opacity: 0;
        }
        &:hover img:last-child {
          opacity: 1;
        }
      }
    }
  }

  .footer-desktop {
    background: #1d1d1b;
    padding-left: 140px;
    padding-right: 140px;
    .header-footer {
      padding-top: 50px;
      border-bottom: 2px solid white;
      color: white;
      display: flex;
      justify-content: space-between;
      .left-footer {
        flex: 1;
        .title {
          font-family: Glysa;
          font-size: 80px;
        }
        .social-link {
          display: flex;
          padding-top: 40px;
          padding-bottom: 60px;
          li {
            padding-right: 25px;
          }
        }
      }
      .middle-footer {
        flex: 1;

        p {
          font-family: "Gotham-Book";
          font-size: 18px;
          // padding-left: 150px;
          // padding-right: 150px;
          max-width: 350px;
          padding-top: 30px;
          &:first-of-type {
            padding-top: 50px;
          }
          input {
            width: 300px;
            height: 25px;
          }
          &:last-of-type {
            text-align: right;
            span {
              margin-left: 7px;
              border-bottom: 2px solid white;
            }
          }
        }
      }
      .right-footer {
        padding-top: 30px;
        div {
          padding-left: 150px;
          .horraire {
            font-size: 18px;
            font-family: "Gotham-Book";
            &:not(:first-of-type) {
              padding-top: 25px;
            }
          }
          p:not(.horraire) {
            font-family: "Gotham-Medium";
            padding-top: 3px;
            padding-left: 23px;
          }
        }
        flex: 1;
      }
    }
    .footer-footer {
      .bottom {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Gotham-Medium";
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        div {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex: 2;
        }
        li {
          flex: 1;
          text-align: center;
          &:last-of-type {
            text-align: right;
          }
        }
        .logo {
          img {
            padding-right: 15px;
          }
        }
      }
    }
  }

  .footer {
    background: #1d1d1b;
    color: white;
    padding-top: 50px;
    .bottom {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .title-footer {
      font-family: Glysa;
      font-size: 65px;
      padding: 0 15px;
    }
    .information-footer {
      font-family: "Gotham-Medium";
      font-size: 16px;
      li {
        padding-top: 15px;
        line-height: 25px;
        padding-left: 10px;
        img {
          padding-right: 8px;
        }
        p {
          padding-left: 25px;
        }
      }
    }
    .footer-location,
    .footer-newsletter-btn {
      padding: 25px 15px;
      text-align: right;
      font-family: "Gotham-Bold";
      font-size: 17px;
      img {
        padding-right: 8px;
      }
      span {
        border-bottom: 2px solid white;
      }
    }
    .footer-location {
      border-bottom: 2px solid white;
    }
    .credit-footer {
      padding: 25px 15px;
      p {
        font-family: "Gotham-Medium";
        padding-bottom: 25px;
      }
      input {
        width: 100%;
        font-size: 16px;
        height: 25px;
      }
      ul {
        font-family: "Gotham-Medium";
        li {
          padding-top: 8px;
        }
      }
    }
  }

  .fun-fact {
    font-family: "Gotham-Medium";
    font-size: 20px;
    border-bottom: 2px solid black;
    margin-top: -30px;
    .title-find {
      padding: 0 15px;
      font-family: Glysa;
      font-size: 70px;
      font-weight: 500;
      color: #1d1d1b;
      transform: translateY(40%);
    }

    .map {
      background-color: #e7e7e9;
      .plan {
        img {
          width: 100%;
        }
      }
      .information-find {
        padding: 30px 15px;
        font-family: "Gotham-Medium";
        font-size: 20px;
        padding-top: 50px;
        .flex {
          display: flex;
          align-items: flex-start;
          img {
            padding-top: 10px;
            padding-right: 10px;
            width: 22px;
            height: 5px;
          }
        }
        .fact {
          padding-top: 25px;
          display: flex;
          img {
            padding-right: 10px;
            width: 24px;
            height: 15px;
          }
          p {
            font-family: "Gotham-Light";
            font-size: 18px;
            padding-right: 2px;
            color: #1d1d1b;
          }
        }
      }
    }
  }
  .find-us {
    font-family: "Gotham-Medium";
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-top: 20px;
    .title-find {
      padding: 0 15px;
      font-family: Glysa;
      font-size: 70px;
      font-weight: 500;
      color: #1d1d1b;
      transform: translateY(20%);
    }

    .map {
      background-color: #e7e7e9;
      .plan {
        img {
          width: 100%;
        }
      }
      .information-find {
        padding: 30px 15px;
        font-family: "Gotham-Medium";
        font-size: 20px;
        li {
          padding-top: 15px;
          line-height: 25px;
          padding-left: 10px;
          img {
            padding-right: 8px;
          }
          p {
            font-family: "Gotham-Light";
            font-size: 16px;
            padding-left: 25px;
            padding-right: 2px;
            color: #1d1d1b;
          }
          &:last-child {
            span {
              font-family: "Gotham-Bold";
              border-bottom: 2px solid black;
            }
          }
        }
      }
    }
  }
  .billeterie {
    font-family: "Gotham-Medium";
    padding: 0 15px;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-top: 20px;
    background-color: #e7e7e9;
    margin-top: 175px;

    .title {
      font-family: Glysa;
      font-size: 70px;
      font-weight: 500;
      color: #1d1d1b;
      transform: translateY(-95%);
      padding-top: 150px;
    }
    .information {
      transform: translateY(-50%);
      li {
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid black;
        width: 100%;
        .time {
          width: 100%;
        }
        > img {
          padding-right: 3px;
          width: 17px;
          height: 5px;
        }

        .title-group {
          display: flex;
          align-items: flex-end;
          .title-event {
            font-size: 45px;
            font-family: Glysa;
            font-weight: 500;
            padding-top: 10px;
            flex: 1;
          }
          .date-exposure {
            flex: 1;
            font-size: 16px;
            span:last-child {
              padding-left: 20px;
            }
          }
        }
        .description {
          font-family: "Gotham-Medium";
          font-size: 16px;
          font-weight: normal;
          padding-top: 20px;
        }
        .bottom {
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          width: 100%;
          padding-bottom: 40px;
          .price {
            flex: 1;
            font-size: 20px;
            padding-top: 20px;
            font-family: "Gotham-Book";
            span:last-child {
              padding-left: 20px;
              display: block;
            }
          }
          .btn-buy {
            font-family: "Gotham-Bold";
            font-size: 17px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 45px;
            cursor: pointer;
            img {
              padding-right: 5px;
              padding-left: 5px;
              transition: 0.25s all ease;
            }
            img:last-child {
              opacity: 0;
            }
            &:hover img:last-child {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .container {
    color: #1d1d1b;

    .billeterie {
      padding-top: 75px;
      padding-left: 140px;
      padding-right: 140px;
      .title {
        font-size: 100px;
        padding-top: 50px;
      }
      .information {
        li {
          position: relative;
          padding-bottom: 40px;
          align-items: center;
          .title-group {
            align-items: flex-start;
            float: left;
            flex: 3;
            .title-event {
              max-width: 250px;
            }
            .date-exposure {
              padding-top: 25px;
            }
          }
          .description {
            float: right;
            width: 30vw;
            position: absolute;
            left: 250px;
            top: 80px;
          }
          .bottom {
            flex: 1;
            padding-bottom: 0;
            .btn-buy {
              transform: translateY(30%);
            }
          }
        }
      }
    }

    .split-home {
      display: flex;
      .left-home {
        flex: 6;
        padding-top: 75px;
      }
      .right-home {
        flex: 1;
        position: relative;
        padding-right: 140px;
        border-left: 2px solid black;

        .sticky-home {
          position: fixed;
          padding-left: 25px;
          padding-top: 100px;
          z-index: -1;

          .horraire {
            font-size: 18px;
            font-family: "Gotham-Book";
            padding-top: 80px;
          }
          p:not(.horraire) {
            font-family: "Gotham-Medium";
            padding-top: 3px;
            padding-left: 23px;
          }
        }
      }
    }

    .find-us {
      .title-find {
        padding-left: 140px;
        padding-right: 140px;
        font-size: 100px;
      }
      .map {
        padding: 50px;
        padding-left: 140px;
        padding-right: 140px;
        background-color: #e7e7e9;
        display: flex;
        .plan {
          border-right: 0.5px solid #1d1d1b;
        }
      }
    }
    .home-presentation {
      padding-left: 140px;
      .img-exposure {
        .home-name {
          font-size: 100px;
        }
        .btn-more {
          padding: 30px;
          font-size: 20px;
          bottom: 60px;
        }
      }
    }

    .exposure {
      padding-left: 140px;
      .title-exposure {
        font-size: 100px;
      }
      .footer-exposure {
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
        .date-exposure {
          padding-bottom: 10px;
        }
      }
      .description-exposure {
        font-size: 18px;
      }
    }

    .artist,
    .tarif {
      padding-left: 140px;
      .title-exposure,
      .title-tarif {
        font-size: 100px;
        padding-bottom: 25px;
      }
      .information-tarif {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
          flex: 33.33%;
        }
      }
      .where-btn {
        text-align: left;
        display: flex;
        align-items: center;
        img {
          width: 23px;
          height: 7px;
          transform: scaleX(-1);
          order: 2;
        }
      }
    }

    .home-exposure, .exposures {
      padding-left: 140px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      > img {
        width: 14px;
        height: 3px;
      }
      .title-exposure {
        font-size: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        img {
          width: 14px;
          height: 7px;
        }
      }
      .description-exposure {
        width: 435px;
        padding-right: 0;
        flex: 2;
      }
      > a {
        width: 100%;
        order: 2;
      }
      .footer-exposure {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 150px;
        flex: 2;
        .date-exposure {
          padding-bottom: 15px;
          font-size: 18px;
        }
        .shop-exposure {
          font-size: 18px;
          font-family: "Gotham-Bold";
          padding-right: 100px;
        }
      }
      .img-exposure > img {
        width: 130px;
      }
      .img-exposure .btn-more {
        padding: 30px;
        font-size: 20px;
        bottom: 60px;
      }
    }
  }
}
